@charset "UTF-8";

body {
    background-color: rgb(148, 219, 148);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(8, 80, 8);
}

h1#principal {
    text-align: center;
    color: white;
}

h2 {
    color: rgb(69, 104, 69);
}

.basico {
    color: green;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgba(190, 190, 43, 0.658);;
}